.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.locationSection{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}